n8n/Router.json
{
  "name": "Router",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://noiton.autocreativeroom.com.br/webhook-test/agendamentos-4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "c5c0047d-00c7-4009-a450-45cccf578ef4",
      "name": "TESTE CR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.autocreativeroom.com.br/webhook/agendamentos-4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "99ecc8b6-6dc7-46e5-8b09-c6ce2f366927",
      "name": "CR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.autocreativeroom.com.br/webhook/60af5c73-e2b2-44b7-98ba-0309f4cc13ed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "84c71316-6346-4b38-9928-41d2f3fcd636",
      "name": "CR-RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://noiton.autocreativeroom.com.br/webhook-test/60af5c73-e2b2-44b7-98ba-0309f4cc13ed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "b84357f9-d19c-43d7-a0af-487b4e8a4773",
      "name": "TESTE CR-RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        640
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution/router",
        "options": {}
      },
      "id": "6295b4df-66ee-4024-9fe1-8ff39bacd875",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        380
      ],
      "webhookId": "99918272-12e5-4c90-b265-7b3e861bf807"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "CR",
            "type": "main",
            "index": 0
          },
          {
            "node": "TESTE CR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "134f2391-b9c3-49d3-a0a2-939eb9131d21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd06b448d6fad37c04b7efd6c534f2419e15b841674324565af54008b6ec9d36"
  },
  "id": "Npyo9H3NKHvRhAHP",
  "tags": [
    {
      "createdAt": "2024-11-20T13:09:29.579Z",
      "updatedAt": "2024-11-20T13:09:29.579Z",
      "id": "zVFhSYUsTaxJ03wr",
      "name": "PROCUCAO"
    }
  ]
}