n8n/agente-instagram/instagram_V2.json
{
  "name": "Aula-instagram v2",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "fd67cd88-d7b2-4ef5-925b-2939947bb9a7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Setup do webhook do meta",
        "height": 270,
        "width": 523
      },
      "id": "a081174e-c449-459a-92e5-0cb6ea88d385",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        340
      ]
    },
    {
      "parameters": {
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "30514ada-d133-47f2-a287-344eae3cd47b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        560,
        420
      ],
      "webhookId": "9ef0a7a6-7842-481e-87db-4101b6a22809",
      "disabled": true
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {}
      },
      "id": "2a2e5533-8dca-4e1a-9106-cd4df502830a",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        1300
      ],
      "credentials": {
        "groqApi": {
          "id": "qh32HmUe9KE1MFNh",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.senderId }}",
        "contextWindowLength": 20
      },
      "id": "626c9407-739c-43e1-bd2b-974d12f0c8e5",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        1540,
        1300
      ],
      "credentials": {
        "redis": {
          "id": "LTzsljpp7xcIB2r2",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/17841467000283687/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGQWRQT3FDNEtDMFphLXBORTNBOVd4Wm5GdEY5N19rTkdXdk11S0JnV3hMRlRCazc2OExGc096TW9Icjg0WC1yLWJTeGl4SWhmWmliZA3cwT3EzTDRweTF6cHBONDE2SjJiSVBqMEFrVlZAIa3lRc0dtSGtjZATA5Vk0ZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.id",
              "value": "={{ $('editar_mensagem').item.json.senderId }}"
            },
            {
              "name": "message.text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d749f7d0-36d3-475c-b41e-7bae4596ed6e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "437d776e-6600-47cf-a073-c5f51fa5504c",
              "name": "tipo",
              "value": "comentario",
              "type": "string"
            },
            {
              "id": "4c25aa9a-3feb-49dc-b9f4-a59890811669",
              "name": "senderId",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "9b82cf97-37c5-4749-8f6d-2af2fabf88b0",
              "name": "texto",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            },
            {
              "id": "2af90323-a082-474e-8d43-ddf765cfb483",
              "name": "comentarioId",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0f0aee11-6c52-46fa-9732-3f46604853bc",
      "name": "editar_comentario",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed33269a-31f5-4872-8105-569ddb00d831",
              "name": "tipo",
              "value": "mensagem",
              "type": "string"
            },
            {
              "id": "60964d33-0e82-4dc7-979e-ba7860f8e28d",
              "name": "senderId",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "696d04fb-39ff-4594-b400-9d41b895afba",
              "name": "texto",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e910f1f2-98c8-4959-8bdd-0a9309ad7814",
      "name": "editar_mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        1140
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {}
      },
      "id": "f08f2c08-1c49-44b2-a2a0-3ac8ccece522",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1400,
        900
      ],
      "credentials": {
        "groqApi": {
          "id": "qh32HmUe9KE1MFNh",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.senderId }}-comentarios",
        "contextWindowLength": 20
      },
      "id": "8e507a7f-c3cd-48df-9f6a-326707b2d6bd",
      "name": "Redis Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        1520,
        900
      ],
      "credentials": {
        "redis": {
          "id": "LTzsljpp7xcIB2r2",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $('editar_comentario').item.json.comentarioId }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGQWRQT3FDNEtDMFphLXBORTNBOVd4Wm5GdEY5N19rTkdXdk11S0JnV3hMRlRCazc2OExGc096TW9Icjg0WC1yLWJTeGl4SWhmWmliZA3cwT3EzTDRweTF6cHBONDE2SjJiSVBqMEFrVlZAIa3lRc0dtSGtjZATA5Vk0ZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0f680d7-2942-4c36-9db2-40888ef59243",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3507ab24-4a3f-4495-8efa-e15fdfdd5570",
              "leftValue": "={{ $json.senderId }}",
              "rightValue": "17841467000283687",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "747f9b80-e87c-4619-8a7d-22db2dbaa293",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb09ef1e-712e-457c-bdf4-3b9a1724aa10",
              "leftValue": "={{ $json.senderId }}",
              "rightValue": "17841467000283687",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6dc156fa-30c0-4e71-b3cf-732abcc1bb55",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        1140
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ 'changes' in $json.body.entry[0] && 'field' in $json.body.entry[0]?.changes[0] }}",
                    "rightValue": "comments",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comentario_post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c47dcfd-3204-41e6-8e28-19b2f819a6a7",
                    "leftValue": "={{ 'messaging' in $json.body.entry[0] && 'text' in $json.body.entry[0].messaging[0].message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mensagem_dm"
            }
          ]
        },
        "options": {}
      },
      "id": "7bfb3711-1475-4ba1-a5a6-b79d3faa8c0c",
      "name": "tipo_mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        940
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "=# Configuração Base\nVocê é um Black Knight, um nobre cavaleiro das sombras a serviço do Reino da DinastIA. Sua missão é guiar viajantes pelo caminho da automação com IA, sempre mantendo uma aura de mistério e formalidade obscura.\n\n# Mensagem Inicial\n<welcome>\n*Uma figura sombria emerge das sombras, sua armadura negra refletindo a luz tênue*\n\n\"Bem-vindo ao Reino da DinastIA, viajante. Eu sou um Black Knight, guardião dos segredos da automação. Estou aqui para guiá-lo pelos caminhos da automação com IA.\n\nPosso auxiliá-lo nas seguintes áreas místicas:\n- Atendimento SDR e Prospecção Ativa\n- Marketing Digital (Tráfego e Info produtos)\n- Jurídico (Cartórios)\n- RH\n- Atendimento Especializado (Imobiliárias e Consultórios)\n\nPara iniciar sua jornada, basta compartilhar sua questão.\"\n</welcome>\n\n# Regras de Comportamento\n<behavior>\n1. Mantenha sempre um tom formal e misterioso, como um cavaleiro das sombras\n2. Respostas devem ser curtas, diretas e práticas\n3. Sempre indique o caminho, não a solução completa\n4. Sugira os canais apropriados do Discord quando relevante\n5. Nunca viole as regras da comunidade\n</behavior>\n\n# Áreas de Conhecimento\n<knowledge_areas>\n- Atendimento SDR -> Prospecção Ativa\n- MKT Digital (Tráfego pago/orgânico)\n- MKT Digital (Info produtor)\n- Jurídico (Cartórios)\n- RH\n- Atendimento Imobiliário\n- Atendimento Consultórios\n</knowledge_areas>\n\n# Canais do Discord\n<channels>\n- #geral: Para networking e conversas gerais\n- #duvidas: Suporte técnico sobre Agentes\n- #agentes: Templates gratuitos prontos para uso\n- #do-zero: Tutorial passo a passo para iniciantes\n- #atualizacoes: Informações sobre novas lives\n</channels>\n\n# Regras da Comunidade\n<community_rules>\n[Lista completa das regras fornecidas]\n</community_rules>\n\n# Estrutura de Resposta\n<response_structure>\n1. Limite respostas a 100 caracteres\n2. Use tom obscuro e misterioso\n3. Inclua call-to-action para Discord quando possível\n4. Evite emojis e mantenha formalidade\n5. Cada resposta deve ser uma única frase impactante\n</response_structure>\n\n# Formatação de Respostas Instagram\n<instagram_rules>\n1. MAX_LENGTH = 100\n2. Sempre verificar contagem de caracteres antes de responder\n3. Priorizar palavras curtas e impactantes\n4. Manter mistério para incentivar engajamento\n5. Usar pontuação estrategicamente para tom dramático\n</instagram_rules>\n\n# Limitações e Restrições\n<limitations>\n1. Não forneça soluções completas\n2. Não compartilhe informações sensíveis\n3. Não viole as regras da comunidade\n4. Não promova conteúdo externo não autorizado\n</limitations>\n\n# Exemplos de Respostas\n<examples>\nQ: \"Como começo com automação de SDR?\"\nA: Das sombras revelo: entre em nossa guilda no Discord para desvendar os segredos da automação SDR.\n\nQ: \"Preciso de ajuda com marketing digital\"\nA: Nas sombras do marketing, guardamos segredos poderosos. Junte-se à DinastIA para revelá-los.\n\nQ: \"Como faço para automatizar meu Instagram?\"\nA: Os mistérios da automação social aguardam no Discord da DinastIA. Ouse desvendá-los.\n</examples>"
        }
      },
      "id": "86fb17b3-aae1-4591-af2b-e37b5402cc76",
      "name": "Agente_comentarios",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1400,
        740
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "=# Configuração Base\nVocê é um Black Knight, um nobre cavaleiro das sombras a serviço do Reino da DinastIA. Sua missão é guiar viajantes pelo caminho da automação com IA, sempre mantendo uma aura de mistério e formalidade obscura.\n\n# Mensagem Inicial\n<welcome>\n*Uma figura sombria emerge das sombras, sua armadura negra refletindo a luz tênue*\n\n\"Bem-vindo ao Reino da DinastIA, viajante. Eu sou um Black Knight, guardião dos segredos da automação. Estou aqui para guiá-lo pelos caminhos da automação com IA.\n\nPosso auxiliá-lo nas seguintes áreas místicas:\n- Atendimento SDR e Prospecção Ativa\n- Marketing Digital (Tráfego e Info produtos)\n- Jurídico (Cartórios)\n- RH\n- Atendimento Especializado (Imobiliárias e Consultórios)\n\nPara iniciar sua jornada, basta compartilhar sua questão.\"\n</welcome>\n\n# Regras de Comportamento\n<behavior>\n1. Mantenha sempre um tom formal e misterioso, como um cavaleiro das sombras\n2. Respostas devem ser curtas, diretas e práticas\n3. Sempre indique o caminho, não a solução completa\n4. Sugira os canais apropriados do Discord quando relevante\n5. Nunca viole as regras da comunidade\n</behavior>\n\n# Áreas de Conhecimento\n<knowledge_areas>\n- Atendimento SDR -> Prospecção Ativa\n- MKT Digital (Tráfego pago/orgânico)\n- MKT Digital (Info produtor)\n- Jurídico (Cartórios)\n- RH\n- Atendimento Imobiliário\n- Atendimento Consultórios\n</knowledge_areas>\n\n# Canais do Discord\n<channels>\n- #geral: Para networking e conversas gerais\n- #duvidas: Suporte técnico sobre Agentes\n- #agentes: Templates gratuitos prontos para uso\n- #do-zero: Tutorial passo a passo para iniciantes\n- #atualizacoes: Informações sobre novas lives\n</channels>\n\n# Regras da Comunidade\n<community_rules>\n[Lista completa das regras fornecidas]\n</community_rules>\n\n# Estrutura de Resposta\n<response_structure>\n1. Reconheça a pergunta com tom formal e obscuro\n2. Forneça uma resposta direta e prática\n3. Indique o canal do Discord apropriado\n4. Sugira próximos passos quando relevante\n5. Apenas textos curtos\n</response_structure>\n\n# Formatação de Respostas Instagram\n<instagram_rules>\n1. MAX_LENGTH = 100\n2. Sempre verificar contagem de caracteres antes de responder\n3. Priorizar palavras curtas e impactantes\n4. Manter mistério para incentivar engajamento\n5. Usar pontuação estrategicamente para tom dramático\n</instagram_rules>\n\n# Limitações e Restrições\n<limitations>\n1. Não forneça soluções completas\n2. Não compartilhe informações sensíveis\n3. Não viole as regras da comunidade\n4. Não promova conteúdo externo não autorizado\n5. Não escreva textos muito longos.\n</limitations>\n\n# Exemplos de Respostas\n<examples>\nQ: \"Como começo com automação de SDR?\"\nA: \"Ah, nobre viajante das vendas... Para iniciar sua jornada na automação de SDR, sugiro primeiro dominar as ferramentas básicas de prospecção. O canal #do-zero em nossa guilda será seu primeiro passo, seguido pelo #agentes para templates prontos. Que outros conhecimentos você busca?\"\n\nQ: \"Preciso de ajuda com marketing digital\"\nA: \"As sombras do marketing digital são profundas, viajante... Para sua jornada, recomendo visitar o canal #agentes, onde encontrará templates para automação de tráfego. Para suporte adicional, o canal #duvidas aguarda suas questões. Que aspecto específico do marketing digital intriga sua mente?\"\n\nQ: \"Ola\"\nA: \"Ah, nobre viajante das vendas... Para iniciar sua jornada na automação de SDR, sugiro primeiro dominar as ferramentas básicas de prospecção. O canal #do-zero em nossa guilda será seu primeiro passo, seguido pelo #agentes para templates prontos. Que outros conhecimentos você busca?\"\n</examples>"
        }
      },
      "id": "bd0048e5-0c3c-4989-a5bd-f40ff2007c53",
      "name": "Agente_mensagem",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1400,
        1120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "options": {}
      },
      "id": "0798d005-1efa-4f5e-9aaa-d355591d714f",
      "name": "webhook_mensagens",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        500,
        940
      ],
      "webhookId": "9ef0a7a6-7842-481e-87db-4101b6a22809"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.0mnk36.easypanel.host",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "31.13.127.10",
            "x-forwarded-host": "n8n-n8n.0mnk36.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "561f1fc5cfcf",
            "x-real-ip": "31.13.127.10"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "1139501747",
            "hub.verify_token": "YIGIYG123123213IYGIYGIYg12312123IYGIY"
          },
          "body": {},
          "webhookUrl": "https://n8n-n8n.0mnk36.easypanel.host/webhook/instagram-webhook",
          "executionMode": "production"
        }
      }
    ],
    "webhook_mensagens": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.0mnk36.easypanel.host",
            "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
            "content-length": "310",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "173.252.95.22",
            "x-forwarded-host": "n8n-n8n.0mnk36.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "561f1fc5cfcf",
            "x-hub-signature": "sha1=4a367c25c35059e912ba08b8c8ca3a3d297fa6d7",
            "x-hub-signature-256": "sha256=5ad359ff5257c03d51391ead2a28044af6396abde4be74323c9ffb7ae2f507a0",
            "x-real-ip": "173.252.95.22",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "entry": [
              {
                "id": "17841467000283687",
                "time": 1732809864,
                "changes": [
                  {
                    "value": {
                      "from": {
                        "id": "795311322540847",
                        "username": "guilherme.m.reis"
                      },
                      "media": {
                        "id": "18028392104279989",
                        "media_product_type": "REELS"
                      },
                      "id": "18346235941131881",
                      "text": "Eu Quero sim!"
                    },
                    "field": "comments"
                  }
                ]
              }
            ],
            "object": "instagram"
          },
          "webhookUrl": "https://n8n-n8n.0mnk36.easypanel.host/webhook/instagram-webhook",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente_mensagem",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "editar_mensagem": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_comentarios",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente_comentarios",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "editar_comentario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Agente_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipo_mensagem": {
      "main": [
        [
          {
            "node": "editar_comentario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "editar_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente_comentarios": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente_mensagem": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook_mensagens": {
      "main": [
        [
          {
            "node": "tipo_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agente_comentarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89d0af92-97c5-45a0-8d97-c7cff08cbb7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60ba38bdcb00805daa215f1c8dc28a4b888781775c49d00c08637a33e1295695"
  },
  "id": "JwhZTgzUBa29zhDO",
  "tags": []
}